<template>
  <br-button
    class="sign-in"
    :type="type"
    :density="density"
    :inverted="inverted"
    :circle="iconic && icon?.length > 0"
    :block="block"
  >
    <IconBase
      v-if="icon && !image && !entity"
      :icon-name="icon"
      :class-name="iconic ? 'mr-1' : ''"
    />
    <span v-if="!iconic || (iconic && !icon)">{{ label }}</span>
    <span v-if="(!iconic || (iconic && !icon)) && entity" class="ml-1"
      ><strong>{{ entity }}</strong></span
    >
    <img
      v-else-if="(!iconic || (iconic && !icon)) && image"
      class="ml-1"
      :src="_image.url"
      :alt="_image.description"
    />
  </br-button>
</template>

<script>
import { parsePropStringToJSON } from "../../util/Utils.js"
import BrButton from "../Button/Button.ce.vue"
import IconBase from "../IconBase/IconBase.ce.vue"

const SignIn = {
  name: "brSignIn",
  components: {
    BrButton,
    IconBase,
  },
  props: {
    /**
     * **[OPCIONAL]** Ênfase do sign-in, com finalidade de proporcionar mais ou menos destaque em relação a outros componentes exibidos na tela. A ênfase secundaria é padrão. **[ primary | secondary ]**".
     */
    type: {
      type: String,
      validator: function (value) {
        return ["secondary", "primary"].includes(value)
      },
      default: "secondary",
    },
    /** **[OPCIONAL]** O ajuste da densidade consiste em aumentar ou reduzir os espaçamentos internos do sign-in de forma a deixá-los mais compactos ou mais expandidos em seu formato. **[ large | middle | small ]**
     */
    density: {
      type: String,
      validator: function (value) {
        return ["large", "middle", "small"].includes(value)
      },
      default: "middle",
    },
    /**
     * **[OPCIONAL]** Usado quando houver uma necessidade de enfatizar visualmente a ideia da ação. O ícone de usuário deverá ser localizado à esquerda do rótulo, diferentemente do sign-in to tipo externo que não possui ícone e a sua imagem localiza-se à direita do rótulo. No formato circular, é possível utilizar apenas o ícone.
     */
    icon: {
      type: String,
      default: null,
    },
    /**
     * **[OBRIGATÓRIO]** O rótulo é um elemento obrigatório. A **exceção** ocorre na versão tipo icônico uma vez que não existe rótulo.
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * **[OPCIONAL]** Objeto que representa a imagem destinada à utilização de uma
     * assinatura ou logo institucional do SignIn.
     *
     * O objeto deve seguir a estrutura abaixo:
     *
     * ```
     * {
     *   // [OBRIGATÓRIO] URL da imagem
     *   name: 'string',
     *
     *   // [OBRIGATÓRIO] Descrição alternativa da imagem
     *   description: 'string'
     * }
     * ```
     *
     * Quando passado como atributo, obrigatoriamente deve ser um objeto convertido
     * para string. Quando passado como propriedade, pode ser um objeto propriamente
     * dito.
     *
     * Referência: https://open-wc.org/guides/knowledge/attributes-and-properties
     */
    image: {
      type: [String, Object],
      default: null,
    },
    /**
     * **[OPCIONAL]** Nome instituicional utilizado em substituição à imagem. Caso esteja presente, prevalecerá sobre a imagem.
     */
    entity: {
      type: String,
      default: null,
    },
    /**
     * **[OPCIONAL]** Tipo de sign-in usado em layouts com muitos elementos ou com pouco espaço para diagramação. Determina que o signin é do tipo icônico. Para que ela faça efeito, é necessário que a propriedade icon esteja presente e não tenha as propriedades image e entity. Essa propriedade impede o comportamento das propriedades label, image, e entity.
     */
    iconic: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Utilizado quando o background possui cores escuras.
     */
    inverted: {
      type: Boolean,
      default: false,
    },
    /** **[OPCIONAL]** Apresenta o sign-in em comportamento de bloco. o sign-in “empurra” qualquer outro elemento existente para outro espaço disponível. */
    block: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    _image() {
      return parsePropStringToJSON(this.image)
    },
  },
}

export default SignIn
</script>

<style lang="scss">
@import "~@govbr-ds/core/src/partial/scss/_base";
@import "~@govbr-ds/core/src/partial/scss/_utilities";
@import "~@govbr-ds/core/src/components/button/_button";
@import "~@govbr-ds/core/src/components/signin/_signin";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

.br-button.sign-in.secondary,
.br-button.sing-in[secondary],
.br-button.sign-in.is-secondary {
  border: none;
}

.br-button.sign-in.secondary,
.br-button.sign-in[secondary],
.br-sign-in.secondary,
.br-sign-in[secondary] {
  background-color: var(--background);
}
</style>
