<template>
  <div
    class="br-switch"
    :class="[
      {
        icon: icon,
        top: top,
        right: right,
        large: size === 'large',
        small: size === 'small',
      },
    ]"
  >
    <input :id="id" v-model="isChecked" type="checkbox" :disabled="disabled" />
    <label :for="id">
      <slot>{{ label }}</slot>
    </label>
    <div
      v-if="labelChecked && labelNotChecked"
      class="switch-data"
      :data-enabled="labelChecked"
      :data-disabled="labelNotChecked"
    />
  </div>
</template>

<script>
const Switch = {
  name: "brSwitch",
  props: {
    checked: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      validator: function (value) {
        return [null, "large", "small"].includes(value)
      },
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    labelChecked: {
      type: String,
      default: null,
    },
    labelNotChecked: {
      type: String,
      default: null,
    },
    /** Label localizado acima do switch */
    top: {
      type: Boolean,
      default: false,
    },
    /** Label localizado a direita do switch */
    right: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isChecked: this.checked,
      id: "br-switch-input-" + this._.uid,
    }
  },
}

export default Switch
</script>

<style lang="scss">
@import "~@govbr-ds/core/src/partial/scss/_base";
@import "~@govbr-ds/core/src/partial/scss/_utilities";
@import "~@govbr-ds/core/src/components/switch/_switch";
</style>
