<div>
  <h2>Avatar</h2>

  <p class="h5 pt-3">Avatar Icônico</p>
  <br-avatar iconic density="small" class="mt-1 mr-1"></br-avatar>
  <br-avatar iconic density="medium" class="mt-1 mr-1"></br-avatar>
  <br-avatar iconic density="large" class="mt-1 mr-1"></br-avatar>

  <p class="h5 pt-3">Avatar Fotográfico</p>
  <br-avatar
    image="https://picsum.photos/id/823/400"
    density="small"
    class="mt-1 mr-1"
  ></br-avatar>
  <br-avatar
    image="https://picsum.photos/id/823/400"
    density="medium"
    class="mt-1 mr-1"
  ></br-avatar>
  <br-avatar
    image="https://picsum.photos/id/823/400"
    density="large"
    class="mt-1 mr-1"
  ></br-avatar>

  <p class="h5 pt-3">Avatar Letra</p>
  <br-avatar density="small" class="mt-1 mr-1"></br-avatar>
  <br-avatar density="medium" class="mt-1 mr-1"></br-avatar>
  <br-avatar density="large" class="mt-1 mr-1"></br-avatar>
</div>
