<div>
  <h2>Button</h2>
  <br-button
    id="primary-01"
    label="Primário"
    type="primary"
    icon="home"
    class="mt-3"
  ></br-button>
  <br-button
    label="Secundário"
    type="secondary"
    icon="times"
    class="mt-3 ml-1"
  ></br-button>
  <br-button
    label="Terciário"
    type="tertiary"
    icon="home"
    class="mt-3 ml-1"
  ></br-button>

  <p class="h5 pt-3">Button com componente de icone externo (via slot)</p>
  <br-button
    id="primary-01"
    label="Primário"
    type="primary"
    class="mt-3"
    circle
  >
    <br-icon-base icon-name="user"></br-icon-base>
  </br-button>

  <p class="h5 pt-3">Ênfase</p>
  <div>
    <br-button label="Primário" type="primary" icon="home"></br-button>
    <br-button
      label="Secundário"
      type="secondary"
      icon="city"
      class="ml-1"
    ></br-button>
    <br-button
      label="Terciário"
      type="tertiary"
      icon="city"
      class="ml-1"
    ></br-button>

    <div class="mt-3">
      <br-button label="Primário" type="primary" icon="car"></br-button>
      <br-button
        label="Secundário"
        type="secondary"
        icon="city"
        class="ml-1"
      ></br-button>
      <br-button
        label="Terciário"
        type="tertiary"
        icon="car"
        class="ml-1"
      ></br-button>
    </div>

    <p class="h5 mt-5">Fundo escuro</p>
    <div class="p-3 bg-primary-darken-02">
      <div>
        <br-button
          inverted
          label="Primário"
          type="primary"
          icon="city"
        ></br-button>
        <br-button
          inverted
          label="Secundário"
          type="secondary"
          icon="city"
          class="ml-1"
        ></br-button>
        <br-button
          inverted
          label="Terciário"
          type="tertiary"
          icon="city"
          class="ml-1"
        ></br-button>
      </div>
      <div class="mt-3">
        <br-button
          inverted
          label="Primário"
          type="primary"
          icon="city"
          class="ml-1"
        ></br-button>
        <br-button
          inverted
          label="Secundário"
          type="secondary"
          icon="city"
          class="ml-1"
        ></br-button>
        <br-button
          inverted
          label="Terciário"
          type="tertiary"
          icon="city"
          class="ml-1"
        ></br-button>
      </div>
    </div>
    <p class="h5 mt-5">Densidade</p>
    <div>
      <br-button
        label="Alta"
        type="primary"
        density="large"
        class="ml-1"
      ></br-button>
      <br-button
        label="Media"
        type="primary"
        density="middle"
        class="ml-1"
      ></br-button>
      <br-button
        label="Baixa"
        type="primary"
        density="small"
        class="ml-1"
      ></br-button>
    </div>
    <div class="mt-3">
      <br-button
        circle
        type="secondary"
        density="large"
        icon="city"
        class="ml-1"
      ></br-button>
      <br-button
        circle
        type="secondary"
        density="middle"
        icon="city"
        class="ml-1"
      ></br-button>
      <br-button
        circle
        type="secondary"
        density="small"
        icon="city"
        class="ml-1"
      ></br-button>
    </div>

    <p class="h5 mt-5">Estados</p>
    <br-button label="Desativado" type="primary" disabled></br-button>
    <div class="mt-3 mt-sm-0 d-sm-inline-block ml-sm-3">
      <br-button label="Ativado" type="secondary" active></br-button>
    </div>

    <div class="mt-3 mt-sm-0 mb-3 d-sm-inline-block ml-sm-3">
      <br-button id="loading-01" type="secondary" loading>
        Carregando
      </br-button>
    </div>
  </div>
</div>
