<div>
  <h3>CHECKBOX</h3>

  <h4>Checkbox padrão</h4>

  <div>
    <p class="label mb-0">Rótulo</p>
    <p class="text-down-01">Informações adicionais</p>
    <div class="mb-1">
      <br-checkbox id="Unchecked" label="Unchecked"></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="Checked" label="Checked" checked></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="valid" label="Valid" format="valid"></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="invalid" label="Invalid" format="invalid"></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="disabled" label="Disabled" disabled></br-checkbox>
    </div>
    <br-message feedback state="warning">Campo desabilitado.</br-message>
  </div>

  <h4>Checkbox Inline</h4>
  <div>
    <p class="label mb-0">Rótulo</p>
    <p class="text-down-01">Informações adicionais</p>
    <br-checkbox id="unchecked-inline" label="Unchecked" inline></br-checkbox>
    <br-checkbox
      id="checked-inline"
      label="Checked"
      checked
      inline
    ></br-checkbox>
    <br-checkbox
      id="valid-inline"
      label="Valid"
      format="valid"
      inline
    ></br-checkbox>
    <br-checkbox
      id="invalid-inline"
      label="Invalid"
      format="invalid"
      inline
    ></br-checkbox>
    <br-checkbox
      id="disabled-inline"
      label="Disabled"
      disabled
      inline
    ></br-checkbox>
  </div>

  <h4>Checkgroup</h4>
  <br-checkgroup>
    <br-checkbox id="checkgroup-1" label="Opção 1"></br-checkbox>
    <br-checkbox id="checkgroup-2" label="Opção 2"></br-checkbox>
    <br-checkbox id="checkgroup-3" label="Opção 3"></br-checkbox>
  </br-checkgroup>
</div>
