<div>
  <h2>Divider</h2>
  <div class="col sm p-3">
    <h3>Vertical</h3>
    <div class="d-flex">
      <p>
        Voluptate ipsa iure placeat praesentium, sint deleniti consectetur
        quisquam neque veniam possimus, hic commodi?
      </p>
      <br-divider class="mx-3" vertical></br-divider>
      <p>
        A adipisci mollitia blanditiis itaque velit laudantium voluptatum
        molestiae quasi.
      </p>
    </div>
    <br />
    <div class="bg-secondary-07 text-secondary-01 p-3">
      <div class="d-flex">
        <p>
          Voluptate ipsa iure placeat praesentium, sint deleniti consectetur
          quisquam neque veniam possimus, hic commodi?
        </p>
        <br-divider class="mx-3" vertical></br-divider>
        <p>
          A adipisci mollitia blanditiis itaque velit laudantium voluptatum
          molestiae quasi.
        </p>
      </div>
    </div>
    <br />
    <h3>Horizontal</h3>
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <br-divider class="my-3"></br-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="bg-secondary-07 text-secondary-01 p-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <br-divider class="my-3"></br-divider>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <h3>Divider na lista</h3>
    <div class="br-list" role="list">
      <div class="header">
        <div class="title">Densidade alta (padrão)</div>
      </div>
      <br-divider></br-divider>
      <div class="align-items-center br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto">
            <i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Texto principal</div>
          <div class="col-auto">META</div>
        </div>
      </div>
      <br-divider></br-divider>
      <div class="align-items-center br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto">
            <i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Texto principal</div>
          <div class="col-auto">META</div>
        </div>
      </div>
      <br-divider></br-divider>
      <div class="align-items-center br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto">
            <i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Texto principal</div>
          <div class="col-auto">META</div>
        </div>
      </div>
      <br-divider></br-divider>
    </div>
    <h3>Tracejado</h3>
    <div class="row">
      <div class="col sm p-3">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <br-divider dashed v-bind="args"></br-divider>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <h3>Small</h3>
    <div class="row">
      <div class="col sm p-3">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <br-divider size="small" v-bind="args"></br-divider>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <h3>Medium</h3>
    <div class="row">
      <div class="col sm p-3">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <br-divider size="medium" v-bind="args"></br-divider>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
    <h3>Large</h3>
    <div class="row">
      <div class="col sm p-3">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <br-divider size="large" v-bind="args"></br-divider>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
