<div id="header">
  <!-- Header Padrão -->
  <h2>Header</h2>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        id="header-action-1"
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
        {
          "name": "Link de acesso 1",
          "href": "https://www.google.com",
          "target": "_blank",
          "title": "Título acesso 1"
        },
        {
          "name": "Link de acesso 2",
          "href": "#",
          "target": "_blank",
          "title": "Título acesso 2"
        },
        {
          "name": "Link de acesso 3",
          "href": "#",
          "target": "_blank",
          "title": "Título acesso 3"
        },
        {
          "name": "Link com função",
          "href": "#",
          "clickEventName": "click-link",
          "title": "Link com função"
        }
      ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
          {
            "icon": "chart-bar",
            "name": "Funcionalidade 1",
            "url": "#"
          },
          {
            "icon": "headset",
            "name": "Funcionalidade 2",
            "url": "#"
          },
          {
            "icon": "comment",
            "name": "Funcionalidade 3",
            "url": "#"
          },
          {
            "icon": "tools",
            "name": "Funcionalidade com função",
            "url": "#",
            "clickEventName": "click-function",
            "title": "Funcionalidade com função"
          }
        ]'
      >
      </br-header-action>
    </div>
  </br-header>
  <!-- Header Densidade Large - Baixa -->
  <h2 style="margin-top: 60px">Header Densidade Baixa</h2>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    density="large"
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
        {
          "name": "Link de acesso 1",
          "href": "#"
        },
        {
          "name": "Link de acesso 2",
          "href": "#"
        },
        {
          "name": "Link de acesso 3",
          "href": "#"
        }
      ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
          {
            "icon": "chart-bar",
            "name": "Funcionalidade 1",
            "url": "#"
          },
          {
            "icon": "headset",
            "name": "Funcionalidade 2",
            "url": "#"
          },
          {
            "icon": "comment",
            "name": "Funcionalidade 3",
            "url": "#"
          }
        ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header Densidade Small - Alta-->
  <h2 style="margin-top: 60px">Header Densidade Alta</h2>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    density="small"
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
        {
          "name": "Link de acesso 1",
          "href": "#"
        },
        {
          "name": "Link de acesso 2",
          "href": "#"
        },
        {
          "name": "Link de acesso 3",
          "href": "#"
        }
      ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
          {
            "icon": "chart-bar",
            "name": "Funcionalidade 1",
            "url": "#"
          },
          {
            "icon": "headset",
            "name": "Funcionalidade 2",
            "url": "#"
          },
          {
            "icon": "comment",
            "name": "Funcionalidade 3",
            "url": "#"
          }
        ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header Compacto -->
  <h2 style="margin-top: 60px">Header Compacto</h2>
  <br-header
    compact
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links="[
        {
          name: 'Link de acesso 1',
          href: '#'
        },
        {
          name: 'Link de acesso 2',
          href: '#'
        },
        {
          name: 'Link de acesso 3',
          href: '#'
        }
      ]"
        title-functions="Funcionalidades do Sistema"
        list-functions="[
          {
            icon: 'chart-bar',
            name: 'Funcionalidade 1',
            url: '#'

          },
          {
            icon: 'headset',
            name: 'Funcionalidade 2',
            url: '#'
          },
          {
            icon: 'comment',
            name: 'Funcionalidade 3',
            url: '#'
          }
        ]"
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header Container Fluid -->
  <h2 style="margin-top: 60px">Header Container Fluid</h2>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    container-fluid
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
          {
            "name": "Link de acesso 1",
            "href": "#"
          },
          {
            "name": "Link de acesso 2",
            "href": "#"
          },
          {
            "name": "Link de acesso 3",
            "href": "#"
          }
        ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
            {
              "icon": "chart-bar",
              "name": "Funcionalidade 1",
              "url": "#"
            },
            {
              "icon": "headset",
              "name": "Funcionalidade 2",
              "url": "#"
            },
            {
              "icon": "comment",
              "name": "Funcionalidade 3",
              "url": "#"
            }
          ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header: image-size='medium' -->
  <h2 style="margin-top: 60px">Header - Logo/Imagem Tamanho Médio</h2>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    image-size="medium"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    container-fluid
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
            {
              "name": "Link de acesso 1",
              "href": "#"
            },
            {
              "name": "Link de acesso 2",
              "href": "#"
            },
            {
              "name": "Link de acesso 3",
              "href": "#"
            }
          ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
              {
                "icon": "chart-bar",
                "name": "Funcionalidade 1",
                "url": "#"
              },
              {
                "icon": "headset",
                "name": "Funcionalidade 2",
                "url": "#"
              },
              {
                "icon": "comment",
                "name": "Funcionalidade 3",
                "url": "#"
              }
            ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Headers com Link no Título -->
  <h2 style="margin-top: 60px">Headers com Link no Título</h2>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Link com URL pela prop title-link-url"
    has-title-link
    title-link-url="https://google.com"
    subtitle="Subtítulo do Header"
    has-menu
    density="large"
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
    {
      "name": "Link de acesso 1",
      "href": "#"
    },
    {
      "name": "Link de acesso 2",
      "href": "#"
    },
    {
      "name": "Link de acesso 3",
      "href": "#"
    }
  ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
      {
        "icon": "chart-bar",
        "name": "Funcionalidade 1",
        "url": "#"
      },
      {
        "icon": "headset",
        "name": "Funcionalidade 2",
        "url": "#"
      },
      {
        "icon": "comment",
        "name": "Funcionalidade 3",
        "url": "#"
      }
    ]'
      >
      </br-header-action>
    </div>
  </br-header>
  <br-header
    image="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Link com tratamento do evento title-link-click"
    has-title-link
    subtitle="Subtítulo do Header"
    has-menu
    density="large"
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
    {
      "name": "Link de acesso 1",
      "href": "#"
    },
    {
      "name": "Link de acesso 2",
      "href": "#"
    },
    {
      "name": "Link de acesso 3",
      "href": "#"
    }
  ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
      {
        "icon": "chart-bar",
        "name": "Funcionalidade 1",
        "url": "#"
      },
      {
        "icon": "headset",
        "name": "Funcionalidade 2",
        "url": "#"
      },
      {
        "icon": "comment",
        "name": "Funcionalidade 3",
        "url": "#"
      }
    ]'
      >
      </br-header-action>
    </div>
  </br-header>
</div>
