<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link href="http://fonts.cdnfonts.com/css/rawline" rel="stylesheet" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="container-fluid mt-5">
      <h1>GOVBR-DS - Web Components</h1>
      <div id="app">
        <br-tab label="Componentes" density="small" tab-nav-font-size="13">
          <br-tab-item title="br-avatar" id="br-avatar"></br-tab-item>
          <br-tab-item title="br-breadcrumb" id="br-breadcrumb"></br-tab-item>
          <br-tab-item title="br-button" id="br-button"></br-tab-item>
          <br-tab-item title="br-card" id="br-card"></br-tab-item>
          <br-tab-item title="br-checkbox" id="br-checkbox"></br-tab-item>
          <br-tab-item title="br-divider" id="br-divider"></br-tab-item>
          <br-tab-item title="br-footer" id="br-footer"></br-tab-item>
          <br-tab-item title="br-input" id="br-input"></br-tab-item>
          <br-tab-item title="br-header" id="br-header"></br-tab-item>
          <br-tab-item title="br-item" id="br-item"></br-tab-item>
          <br-tab-item title="br-list" id="br-list"></br-tab-item>
          <br-tab-item title="br-loading" id="br-loading"></br-tab-item>
          <br-tab-item
            title="br-magic-button"
            id="br-magic-button"
          ></br-tab-item>
          <br-tab-item title="br-menu" id="br-menu"></br-tab-item>
          <br-tab-item title="br-message" id="br-message"></br-tab-item>
          <br-tab-item title="br-sign-in" id="br-sign-in"></br-tab-item>
          <br-tab-item title="br-switch" id="br-switch"></br-tab-item>
          <br-tab-item title="br-tab" id="br-tab"></br-tab-item>
          <br-tab-item
            title="br-notification"
            id="br-notification"
          ></br-tab-item>
        </br-tab>
      </div>
    </div>
    <script>
      window.addEventListener("load", () => {
        getPageById(document.querySelector("br-tab-item").id)

        let previousTabId

        document
          .querySelector("br-tab")
          .addEventListener("onTabItemClick", (e) => {
            if (previousTabId) {
              document.getElementById(previousTabId).innerHTML = ""
            }
            const id = e.detail[0].id
            previousTabId = id
            getPageById(id)
          })

        function getPageById(id) {
          const url = id + ".html"
          const element = document.getElementById(id)
          element.innerHTML = `
            <div>
              <div class="row">
                <div class="col-auto">
                  <br-loading label="Carregando..."></br-loading>
                </div>
              </div>
            </div>`
          fetch(url).then((response) =>
            response.text().then((htmlResponse) => {
              element.innerHTML = htmlResponse
              if (id === "br-card") {
                const cardExpandBtn = document.getElementById("card-expand-btn")
                if (cardExpandBtn) {
                  cardExpandBtn.addEventListener("click", () => {
                    const cardExpand = document.getElementById("card-expand")
                    const expanded = cardExpand.getAttribute("data-expanded")
                    const newExpanded =
                      expanded && expanded === "on" ? "off" : "on"
                    cardExpand.setAttribute("data-expanded", newExpanded)
                  })
                }
              } else if (id === "br-notification") {
                const notificationButton = document.getElementById(
                  "notification-button"
                )
                if (notificationButton) {
                  notificationButton.addEventListener("click", () => {
                    console.log("notification click")
                  })
                }
              } else if (
                ["br-button", "br-breadcrumb", "br-magic-button"].includes(id)
              ) {
                document
                  .querySelectorAll(
                    "br-button, br-breadcrumb-crumb, br-magic-button"
                  )
                  .forEach((wbc) =>
                    wbc.addEventListener("click", (e) => {
                      alert(
                        e.target.tagName.toLowerCase() +
                          " clicado:\n\nprops: " +
                          JSON.stringify(e.target._props)
                            .replaceAll("{", "{\n  ")
                            .replaceAll(",", ",\n  ")
                            .replaceAll("}", "\n}")
                      )
                    })
                  )
              } else if (id === "br-loading") {
                const realTimeSimulationLoading =
                  document.querySelector("#real-time")

                const realTimeInterval = window.setInterval(() => {
                  if (realTimeSimulationLoading.percent < 100) {
                    ++realTimeSimulationLoading.percent
                  } else {
                    realTimeSimulationLoading.percent = 0
                  }
                }, 100)
              } else if (id === "br-header") {
                const headerActionWithFunctions =
                  document.getElementById("header-action-1")

                headerActionWithFunctions.addEventListener("click-link", (e) =>
                  alert(
                    `Link clicado no header:\n\n${JSON.stringify(
                      e.detail[0],
                      null,
                      4
                    )}`
                  )
                )

                headerActionWithFunctions.addEventListener(
                  "click-function",
                  (e) =>
                    alert(
                      `Ícone clicado no header:\n\n${JSON.stringify(
                        e.detail[0],
                        null,
                        4
                      )}`
                    )
                )

                document
                  .querySelectorAll("br-header[has-title-link]")
                  .forEach((header) => {
                    header.addEventListener("title-link-click", (e) => {
                      alert(
                        `Link do título do header clicado:\n${e.target.title}`
                      )
                    })
                  })

                document
                  .querySelectorAll("br-header[has-search]")
                  .forEach((header) => {
                    header.addEventListener("search-submit", (e) => {
                      alert(`Busca submetida no header: ${e.detail[0]}`)
                    })
                  })
              }
            })
          )
        }
      })
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
