<template>
  <div ref="breadcrumb" class="br-breadcrumb" :aria-label="label">
    <ul class="crumb-list">
      <li v-if="home && home.visible" class="crumb home" :title="home.label">
        <a :href="home.url">
          <br-button density="small" circle>
            <span class="sr-only">{{ home.label }}</span>
            <IconBase icon-name="home" />
          </br-button>
        </a>
      </li>

      <li v-if="folder" class="crumb menu-mobil" @click="toggleList">
        <IconBase icon-name="chevron-right" class-name="icon" />
        <br-button density="small" circle>
          <IconBase :icon-name="getDinamycClassName" />
          <span class="sr-only">Listar links do breadcrumb</span>
        </br-button>
      </li>
      <!-- REFACTOR: os titles aparecem como o tooltip padrão do browser. Trocar pelo nosso tooltip -->
      <li
        v-for="(crumb, index) in visibleCrumbs"
        :key="index"
        class="crumb"
        :title="crumb.label"
      >
        <IconBase icon-name="chevron-right" class-name="icon" />
        <a :href="crumb.url" :target="crumb.target">
          {{ crumb.label }}
        </a>
      </li>

      <li
        v-if="active"
        class="crumb"
        data-active="active"
        :title="active.label"
      >
        <IconBase icon-name="chevron-right" class-name="icon" />
        <span>{{ active.label }}</span>
      </li>
    </ul>
    <br-list v-if="isListVisible" density="medium">
      <div v-for="(crumb, index) in invisibleCrumbs" :key="index">
        <br-item :title="crumb.label">
          <a :href="crumb.url" :target="crumb.target">
            {{ crumb.label }}
          </a>
        </br-item>
      </div>
    </br-list>
  </div>
</template>

<script>
import { parsePropStringToJSON } from "../../util/Utils"
import BrButton from "../Button/Button.ce.vue"
import BrDivider from "../Divider/Divider.ce.vue"
import IconBase from "../IconBase/IconBase.ce.vue"
import BrItem from "../Item/Item.ce.vue"
import BrList from "../List/List.ce.vue"

const Breadcrumb = {
  name: "br-breadcrumb",
  components: {
    BrButton,
    BrList,
    BrItem,
    BrDivider,
    IconBase,
  },
  props: {
    /** Título do breabcrumb, utilizado para fins de acessibilidade */
    label: {
      type: String,
      validator: function (val) {
        return val.trim().length > 1
      },
    },
    /**
     * **[OBRIGATÓRIO]** Array de objetos que representam a lista de links do breadcrumb.
     *
     * O array deve seguir a estrutura abaixo:
     *
     *  ```
     * [
     *   {
     *     // [OBRIGATÓRIO] Rótulo do link
     *     label: 'string',
     *
     *     // [OBRIGATÓRIO] URL do link
     *     url: 'string',
     *
     *     // [OPCIONAL] Atributo target do link
     *     target: 'string',
     *
     *     // [OPCIONAL] Indica se o link é o inicial
     *     home: boolean,
     *
     *     // [OPCIONAL] Indica se o link está ativo
     *     active: boolean
     *   },
     *   // ...
     * ]
     * ```
     *
     * Quando passado como atributo, obrigatoriamente deve ser um array de objetos
     * convertido para string. Quando passado como propriedade, pode ser um array de
     * objetos propriamente dito.
     *
     * Referência: https://open-wc.org/guides/knowledge/attributes-and-properties
     */
    links: {
      type: [String, Object],
      required: true,
    },
  },
  data() {
    return {
      MOBILE_RESOLUTION: 575,
      crumbs: [],
      folder: false,
      isListVisible: false,
      folderIcon: "folder-plus",
    }
  },
  computed: {
    linksList() {
      const linksList = parsePropStringToJSON(this.links)
      linksList.forEach((crumb) => {
        crumb.visible = true
      })
      return linksList
    },
    home() {
      return this.crumbs.find((crumb) => crumb.home)
    },
    visibleCrumbs() {
      return this.crumbs.filter(
        (crumb) => !crumb.home && !crumb.active && crumb.visible
      )
    },
    invisibleCrumbs() {
      return this.crumbs.filter((crumb) => !crumb.active && !crumb.visible)
    },
    active() {
      return this.crumbs.find((crumb) => crumb.active)
    },
    getDinamycClassName() {
      return "fas fa-" + this.folderIcon
    },
  },
  methods: {
    onClickOut(event) {
      if (this.$el.getRootNode().host !== event.target) {
        this.isListVisible = false
      }
    },
    toggleList() {
      this.isListVisible = !this.isListVisible
      if (this.isListVisible) {
        this.folderIcon = "folder-minus"
      } else {
        this.folderIcon = "folder-plus"
      }
    },
    setCrumbs() {
      this.crumbs = this.linksList
    },
    truncateCrumbs() {
      if (window.innerWidth <= this.MOBILE_RESOLUTION) {
        for (let i = 0; i < this.crumbs.length - 1; i++) {
          this.crumbs[i].visible = false
          this.folder = true
        }
      } else {
        for (let i = 0; i < this.crumbs.length - 1; i++) {
          this.crumbs[i].visible = true
          this.folder = false
        }
        if (this.crumbs.length > 5) {
          for (let i = 1; i < this.crumbs.length - 2; i++) {
            this.crumbs[i].visible = false
            this.folder = true
          }
        }
      }
    },
  },
  beforeMount() {
    this.setCrumbs()
  },
  created() {
    window.addEventListener("resize", this.truncateCrumbs)
  },
  destroyed() {
    window.removeEventListener("resize", this.truncateCrumbs)
  },
  mounted() {
    this.truncateCrumbs()
    window.document.addEventListener("click", this.onClickOut)
  },
}

export default Breadcrumb
</script>

<style lang="scss">
@import "~@govbr-ds/core/src/partial/scss/_base.scss";
@import "~@govbr-ds/core/src/partial/scss/_utilities";
@import "~@govbr-ds/core/src/partial/scss/core-base.scss";
@import "~@govbr-ds/core/src/components/button/_button";
@import "~@govbr-ds/core/src/components/breadcrumb/_mixins";
@import "~@govbr-ds/core/src/components/list/_list";
@import "~@govbr-ds/core/src/components/item/_item";
@import "~@govbr-ds/core/src/components/divider/_divider";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

:host {
  @include breadcrumb-configs;
  @include breadcrumb-crumb;
}

.br-divider,
hr {
  border-top: var(--divider-size) var(--divider-style) var(--divider-color) !important;
}
</style>
