<template>
  <div :id="id">
    <br-checkbox
      v-bind="$attrs"
      :label="label"
      :indeterminate="isIndeterminate"
      :checked="isChecked"
      checkgroup-header
      @change="toggleCheckgroupHeader"
    ></br-checkbox>
    <slot />
  </div>
</template>

<script>
const Checkgroup = {
  name: "brCheckgroup",
  inheritAttrs: false,
  provide() {
    return {
      parentCheckgroup: this,
    }
  },
  props: {
    /** **[OPCIONAL]** Texto descritivo do grupo de caixas de opções. */
    label: {
      type: String,
      default: "Selecionar tudo",
    },
  },
  data() {
    return {
      id: "br-checkgroup-" + this._.uid,
      checkboxes: [],
      isChecked: null,
      isIndeterminate: null,
    }
  },
  watch: {
    checkboxes: function (newValue) {
      this.updateCheckgroupHeader(newValue)
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.updateCheckgroupHeader(this.checkboxes)
    })
  },
  methods: {
    toggleCheckgroupHeader(event) {
      this.isChecked = event.detail[0].checked
      this.checkboxes.forEach((checkbox) => {
        checkbox.isChecked = this.isChecked
      })
      this.updateCheckgroupHeader(this.checkboxes)
    },
    updateCheckgroupHeader(checkboxes) {
      const quantityChecked = checkboxes.filter(
        (checkbox) => checkbox.isChecked
      ).length

      this.isIndeterminate =
        quantityChecked > 0 && quantityChecked < checkboxes.length ? true : null

      this.isChecked =
        this.isIndeterminate || quantityChecked === checkboxes.length
          ? true
          : null
    },
  },
}

export default Checkgroup
</script>
