<template>
  <div class="br-checkbox" :class="checkClass">
    <input
      v-bind="$attrs"
      :id="id"
      ref="input"
      type="checkbox"
      :checked="isChecked"
      :disabled="disabled"
      :aria-label="ariaLabel"
      :name="name"
      :value="value"
      @input="toogleChecked"
    />
    <label :for="id">{{ label }}</label>
    <slot />
  </div>
</template>

<script>
const Checkbox = {
  name: "brCheckbox",
  inheritAttrs: false,
  inject: {
    parentCheckgroup: {
      default: null,
    },
  },
  props: {
    /** **[OPCIONAL]** Texto descritivo, localizado sempre à direita da caixa de opção.*/
    label: {
      type: String,
      default: "",
    },
    /** **[OPCIONAL]** Desabilita o checkbox. */
    disabled: {
      type: Boolean,
      default: false,
    },
    /** **[OPCIONAL]** Formata o checkbox para valido ou invalido */
    format: {
      type: String,
      validator: function (value) {
        return ["invalid", "valid"].includes(value)
      },
      default: null,
    },
    /** **[OPCIONAL]** Formata o componente para versão horizontal. */
    inline: {
      type: Boolean,
      default: false,
    },
    /** **[OPCIONAL]** Acessibilidade: define uma cadeia de caracteres para descrever o elemento. */
    ariaLabel: {
      type: String,
      default: null,
    },
    /** **[OPCIONAL]** Define o name que será atribuido ao checkbox. */
    name: {
      type: String,
      default: null,
    },
    /** Estado checked. */
    checked: {
      default: false,
      type: Boolean,
    },
    /** **[OPCIONAL]** Ativa a aparência indeterminada da caixa de seleção. */
    indeterminate: {
      type: Boolean,
      default: false,
    },
    /** **[OPCIONAL]** Indica que se trata de uma caixa de seleção auxiliar de um br-checkgroup. */
    checkgroupHeader: {
      type: Boolean,
      default: false,
    },
    /** O valor da caixa de seleção */
    value: {
      type: String,
      default: null,
    },
  },
  emits: [
    /**
     * **[OPCIONAL]** Evento emitido quando o atributo *checked* é modificado.
     *
     * Referência sobre o consumo de eventos:
     * [Eventos Emitidos pelos Componentes](/?path=/story/eventos-emitidos-pelos-componentes--page)
     */
    "change",
  ],
  data() {
    return {
      id: "br-checkbox-" + this._.uid,
      isChecked: this.checked,
    }
  },

  computed: {
    checkClass() {
      return {
        invalid: this.format == "invalid" ? "invalid" : "",
        valid: this.format == "valid" ? "valid" : "",
        "d-inline": this.inline ? "inline" : "",
        disabled: this.disabled ? "disabled" : "",
      }
    },
  },
  watch: {
    checked(newValue) {
      this.isChecked = newValue
    },
    indeterminate: function (newValue) {
      if (newValue) {
        this.$refs.input.setAttribute("indeterminate", true)
      } else {
        this.$refs.input.removeAttribute("indeterminate")
      }
    },
  },
  mounted() {
    if (this.indeterminate) {
      this.$refs.input.setAttribute("indeterminate", true)
    }

    if (this.parentCheckgroup && !this.checkgroupHeader) {
      this.parentCheckgroup.checkboxes.push(this)
    }
  },
  methods: {
    toogleChecked(event) {
      this.isChecked = event.target.checked

      if (this.parentCheckgroup && !this.checkgroupHeader) {
        const newCheckboxes = [...this.parentCheckgroup.checkboxes]

        this.parentCheckgroup.checkboxes.forEach((checkbox, index) => {
          if (checkbox._.uid === this._.uid) {
            newCheckboxes[index] = this
          }
        })

        this.parentCheckgroup.checkboxes = newCheckboxes
      }

      this.$emit("change", event.target)
    },
  },
}

export default Checkbox
</script>

<style lang="scss">
@import "~@govbr-ds/core/src/partial/scss/_base";
@import "~@govbr-ds/core/src/partial/scss/_utilities";
@import "~@govbr-ds/core/src/components/checkbox/_checkbox";
@import "~@govbr-ds/core/src/components/input/_input";
</style>
